html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(233, 227, 226);
    
}

#format {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;

}

#lists {
    display: flex;
    justify-content: center;
    gap: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1em;
}
ul {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    line-height: 1.6;
}




